/* Write your CSS here */
* {
  font-family: 'roboto';
}
.bg {
  background-color: #07080c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.main-heading {
  color: #ffffff;
  font-style: italic;
  text-align: center;
  font-size: 40px;
}
.image {
  height: 200px;
}
.heading {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}
.para {
  color: #cbd5e1;
  text-align: center;
  font-size: 12px;
}
.buttons-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.btn1 {
  background-color: #0b69ff;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  padding: 15px;
  cursor: pointer;
  outline: none;
  margin-right: 15px;
}
.btn2 {
  background-color: transparent;
  color: #94a3b8;
  border-radius: 10px;
  border-style: solid;
  border-color: #94a3b8;
  padding: 15px;
  cursor: pointer;
  outline: none;
}
